{% extends "body.html.twig" %}


{% block main %}
<main class="container">
    {% if proposal is null %}
    <div class="row mt-5">
        <div class="col-12">
            <h1>Ooops ! Proposition inexistante</h1>
            <p>Cette proposition n'existe pas ou n'est plus disponible au vote.</p>
            <p>N'hésitez pas à soumettre une nouvelle proposition <a href="{{ path("app_jm_form") }}">en cliquant-ici</a></p>
        </div>
    </div>
    {% else %}
    <form method="post" action="{{ path("app_jm_vote",{'url_key': url_key}) }}" class="need-validated ">
        <div class="row mt-5">
            <div class="col-12">
                <h1>{{ proposal.title }}</h1>
                <hr/>
                <h4>Auteur :</h4>
                <p>{{ proposal.author|default('Anonyme') }}
                <h4>Présentation :</h4>
                <p>{{ proposal.presentation }}
                <hr />
                <div class="alert alert-primary">
                    <p>Cette page va vous permettre de voter une proposition en utilisant le mode de scrutin appelé "jugement majoritaire". Pour en savoir plus sur le jugement majoritaire vous pouvez <a href="https://youtu.be/YC1xDJsi_Hk">consulter cette vidéo </a>.</p>
                    <p>N'hésitez pas à soumettre vous même une nouvelle proposition <a href="{{ path("app_jm_form") }}">en cliquant-ici</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Propositions :</h4>
                {% for choice in proposal.choices  %}
                    <div >
                        <div class="d-flex flex-row justify-content-start mb-4">
                            <div class="d-flex flex-column justify-content-center">
                                <h3 >{{ loop.index }}</h3>
                            </div>
                            <div class="flex-grow-1 pl-4 pr-4">

                                <label  for="choice_value_{{ loop.index }}">{{ choice.label }} :</label>
                               <select class="form-control" id="choice_value_{{ loop.index }}" name="choice_value_{{ choice.id }}">
                                   {% for choice_value,choice_label in choices  %}
                                   <option value="{{ choice_value }}">{{ choice_label }}</option>
                                   {% endfor %}
                               </select>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr />
        <div class="col-12">
            <div class="mb-3">
                <label for="author" >Votre nom <span class="text-muted">(Optionel)</span></label>
                <input type="text" class="form-control" id="author" maxlength="250" name="author" value=""
                       placeholder="Votre nom/pseudo">
            </div>
        </div>
      {% include "vote/end-of-proposal.html.twig" %}
        <div class="text-center p-4">
        <button class="btn btn-success "><i class="fas fa-check mr-2"></i>Valider mon vote !</button>
        </div>
        <p class="mb-5">&nbsp;</p>
    </form>
    {% endif %}
</main>
{% endblock %}