{% extends "body.html.twig" %}

    {% block title %}{{ proposal.title }}{% endblock %}
    {% block ogtitle %}{{ proposal.title }}{% endblock %}
    {% block ogdescription %}{{ proposal.presentation }}{% endblock %}

{% block main %}
    {% if toastrmessage is not null %}
        <input type="hidden" class="toastr-msg" data-type="{{ toastrmessage.type }}" data-title="{{ toastrmessage.title }}" data-text="{{ toastrmessage.text }}" >
    {% endif %}
    <div class="container">
        {% if error==true %}
            <div class="row ">
                <div class="col-12 text-center">
                    <h1 class="title">Ooops ! Scrutin inexistant</h1>
                    <p>Ce scrutin n'existe pas ou n'est plus disponible aux votes.</p>
                    <p>N'hésitez pas à créer un nouveau scrutin <a href="{{ path("app_jm_form") }}">en
                            cliquant-ici</a></p>
                </div>
            </div>
        {% else %}
            <form method="post" action="{{ path("app_jm_vote",{'url_key': url_key}) }}" autocomplete="off"
                  class="need-validated ">
                <div class="row ">
                    <div class="col-12 mb-4">
                        <h1 class="title">{{ proposal.title }}</h1>
                    </div>
                    <div class="col-12">

                        <p>{{ proposal.presentation }}</p>
                        <h6><i class="text-muted">Proposé par : {{ proposal.author|default('Anonyme') }}</i></h6>
                    </div>
                    {% if  proposal.urlResultKey  %}
                        <div class="mt-4 col-12 alert alert-primary">
                            <b>ATTENTION :</b> L'auteur de ce vote dispose d'un accès aux résultats des votes en temps réel.
                        </div>
                    {% endif %}
                </div>
                <div class="row mt-5">


                    {% for choice in proposal.choices %}
                        <div class="col-12 col-md-6 col-lg-6 d-flex ">
                            <div class="card mb-4   shadow p-3 mb-5 bg-white rounded align-self-stretch">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div><h5 class="card-title title  ">{{ choice.label }}</h5>
                                        <hr />
                                        <p class="card-text"> {{ choice.explanation }}</p>
                                    </div>
                                   {# <div>
                                        <div class="float-left" style="height:48px;line-height:48px;"><b>Qu'en pensez-vous ?
                                                :</b></div>
                                        <div class="btn-group float-right" role="group">
                                            <input type="hidden" class="form-control jsInputMention"
                                                   id="choice_value_{{ loop.index }}"
                                                   name="choice_value_{{ choice.id }}" value="empty">
                                            <button id="btnGroupDrop1" type="button"
                                                    class="btn btn-light dropdown-toggle " data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <img src="/css/img/empty.png" class="jsImgMention" width="48">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                {% for choice_value,choice_label in choices|reverse %}
                                                    <a class="dropdown-item jsSelectMention"
                                                       data-value="{{ choice_value }}" href="javascript:void(0);"><img
                                                                src="/css/img/{{ choice_value }}.png"
                                                                width="32"> {{ choice_label }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div> #}
                                    <div class="row mt-5">
                                        <input type="hidden" class="form-control jsInputMention"
                                               id="choice_value_{{ loop.index }}"
                                               name="choice_value_{{ choice.id }}" value="{{ selected_values["choice_value_"~choice.id] }}">
                                        {% for choice_value,choice_label in choices|reverse %}
                                            <div class="col-3 col-md-4 col-lg-2 p-0 text-center mb-4">

                                                <a  class="w-100 jsSelectMention {% if choice_value==selected_values["choice_value_"~choice.id] %}mention-selected{% endif %}"
                                                   data-value="{{ choice_value }}" href="javascript:void(0);">
                                                    <img src="/css/img/{{ choice_value }}" width="80%"  class="m-auto d-block pointer" >
                                                    <span style="font-size:12px;color:#000;">{{choice_label }}</span>
                                                </a></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>


                        {# <div class="mt-5">
                             <div class="d-flex flex-row justify-content-start mb-4">
                                 <div class="d-flex flex-column justify-content-center">
                                     <h3 >}</h3>
                                 </div>
                                 <div class="flex-grow-1 pl-4 pr-4">

                                     <label  for="choice_value_{{ loop.index }}">{{ choice.label }}</label>
                                    <select class="form-control" id="choice_value_{{ loop.index }}" name="choice_value_{{ choice.id }}">
                                        {% for choice_value,choice_label in choices|reverse  %}
                                        <option value="{{ choice_value }}">{{ choice_label }}</option>
                                        {% endfor %}
                                    </select>
                                     <small  class="form-text text-muted">
                                         {{ choice.explanation }}
                                     </small>
                                 </div>
                             </div>
                         </div>#}
                    {% endfor %}
                </div>

                <hr/>
                {# <div class="col-12">
                     <div class="mb-3">
                         <label for="author" >Votre nom <span class="text-muted">(Optionel)</span></label>
                         <input type="text" class="form-control" id="author" maxlength="250" name="author" value=""
                                placeholder="Votre nom/pseudo">
                     </div>
                 </div>#}
                {% include "vote/end-of-proposal.html.twig" %}
                <div class="text-center p-4">
                    <button class="btn btn-success "><i class="fas fa-check mr-2"></i>Valider mon vote !</button>
                </div>
                {%  if  proposal.isFacebookEnabled %}
                    <div class="text-center mt-4 ">
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ url("app_jm_vote",{'url_key':  url_key })|url_encode}}&layout=button&size=large&mobile_iframe=true&appId={{ facebook_api_id }}&width=89&height=28" width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                {% endif %}
                <p class="mb-5">&nbsp;</p>
            </form>
        {% endif %}
    </div>
{% endblock %}