{% extends "body.html.twig" %}

{% block title %}{{ proposal.title }}{% endblock %}
{% block ogtitle %}{{ proposal.title }}{% endblock %}
{% block ogdescription %}{{ proposal.presentation }}{% endblock %}

{% block main %}
    {%  if  proposal.isFacebookEnabled %}
        <div class="text-center mt-4 ">
            <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ url("app_jm_vote",{'url_key':  proposal.urlKey })|url_encode}}&layout=button&size=large&mobile_iframe=true&appId={{ facebook_api_id }}&width=89&height=28" width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    {% endif %}
    <div class="container">

        {% if proposal is null %}
            <div class="row ">
                <div class="col-12">
                    <h1 class="title">{% trans %}Ooops ! Scrutin inexistant{% endtrans %}</h1>
                    <p>{% trans %}Ce scrutin n'existe pas ou n'est plus disponible aux votes.{% endtrans %}</p>
                    <p>{% trans %}N'hésitez pas à créer un nouveau scrutin{% endtrans %} <a href="{{ path("app_jm_form") }}">{% trans %}en cliquant-ici{% endtrans %}</a></p>
                </div>
            </div>
        {% else %}
            <div class="row ">
                <div class="col-12 mb-4">
                    <h1 class="title">{{ proposal.title }}</h1>
                </div>
                <div class="col-12">

                    <p>{{ proposal.presentation|striptags('<b><i><strong><em>')|linkParser|raw|nl2br }}</p>
                    <h6><i class="text-muted">{% trans %}Proposé par :{% endtrans %} {{ proposal.author|default('Anonyme') }}</i></h6>
                </div>
            </div>
            <div class="row mt-5 ">
                <div class="col-12">
                    <h4 class="mt-2 title">{% trans %}Candidat/proposition retenu(e){% endtrans %}</h4>
                    <div class="col-12 p-0">
                        <div class="card mb-4   shadow p-3 mb-5 bg-white rounded align-self-stretch">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div><h5 class="card-title title mt-0 ">{{ result[0].candidate.label }}</h5>
                                    <p class="card-text mt-2 mb-2"> {{ result[0].candidate.explanation|striptags('<b><i><strong><em>')|linkParser|raw|nl2br }}</p>
                                    <table style="width:100%;" cellpadding="0" cellspacing="0" >
                                        <td style="width:50%;text-align:right;"><div class="talkbubble"><img src="/css/img/{{ mentionLabelToValue[result[0].majorityMention.label] }}.png" style="width:32px;" class="mr-2"> {{ winnerMention|trans }}* </div></td>
                                        <td style="width:50%"></td>
                                    </table>
                                    <table style="width:100%;" cellpadding="0" cellspacing="0">
                                        <tr>
                                            {%  set valueBetter=0 %}
                                    {% for choice in proposal.choices %}
                                        {% if choice.label==result[0].candidate.label  %}

                                            {% for mention_value,mention_label  in mentions %}
                                                {% set valueMention=meritProfiles[choice.id][mention_value] %}
                                                {% if valueBetter<=50 %}
                                                {%  set valueBetter=valueBetter+valueMention %}
                                                {% endif %}

                                                    {% if valueMention>1 %}
                                                        <td style="height:15px;white-space: nowrap;color:#ffffff;padding:5px;text-center;width:{{ valueMention|round(2,'floor') }}%;background-color:#{{ mention_colors[mention_value] }}">

                                                        </td>
                                                        {# {{ valueMention|round(2,'floor')|number_format(2, '.', ',') }}% #}
                                                    {% endif %}

                                            {% endfor %}

                                        {% endif %}
                                    {% endfor %}</tr></table>
                                    <table style="width:100%;" cellpadding="0" cellspacing="0" >
                                        <td style="width:30%;text-align:left;">0%</td>
                                        <td style="width:40%;text-align:center;">50%</td>
                                        <td style="width:30%;text-align:right;">100%</td>
                                    </table>
                                   {# <p class="mt-2"><small class="text-muted">*{{ valueBetter|round(2,'floor') }}% des participants considèrent que ce candidat (ou cette proposition) est au moins "{{ winnerMention }}"</small></p>#}
                                    <p class="mt-2"><small class="text-muted">{% trans %}* La majorité des participants considère que ce candidat/proposition est au moins{% endtrans %}: "{{ winnerMention|trans }}".</small></p>

                                </div>
                            </div>
                        </div>
                    </div>



                    {% if proposal.isFakeVote ==  false %}
                        {% if proposal.isNameRequired %}

                             <h4 class="mt-2 title mt-5">{% trans %}Participants{% endtrans %}</h4>
                        <div class="col-12 p-0">
                            <div class="card mb-4   shadow p-3 mb-5 bg-white rounded align-self-stretch">
                                <div class="card-body d-flex flex-column justify-content-between">

                            {% if participations|length>=2 %}
                                {% for participation in participations %}{% if loop.index >1 %},  {% endif %}{{ participation.author }}{% endfor %}
                            {% else %}
                                <em>{% trans %}Pas assez de participations pour afficher le nom des participants ... (minimum 2){% endtrans %}</em>
                            {% endif %}
                                </div>
                            </div>
                        </div>
                            {% else %}
                                <div class="text-muted" style="margin-top:-30px;"><i>{{ "Déterminé par %n% participations"|trans({'%n%': proposal.participations|length}) }}</i></div>

                        {% endif %}
                    {% else %}
                        <div class="text-muted" style="margin-top:-30px;"><i>{% trans %}Les votes de cette proposition ont été saisis manuellement.{% endtrans %}</i></div>
                    {% endif %}
                </div>

            </div>

            <div class="row mt-5 ">
                <div class="col-12">
                    <h4 class="title">{% trans %}Classement complet{% endtrans %}</h4>
                    <ol>
                        {% for winner in result %}
                            <li class="mb-4">
                                <img src="/css/img/{{ mentionLabelToValue[winner.majorityMention.label] }}.png" style="width:32px;" class="mr-2">
                                <b>{{ winner.candidate.label }}</b>
                                {#<span class="badge badge-secondary"
                                                                                style="background-color:#{{ mentionLabelColors[winner.majorityMention.label] }};color:#000;">{{ winner.majorityMention.label }}{% if  winner.percentOfBetterThanMajorityMention >= winner.percentOfWorseThanMajorityMention  %}+{% else %}-{% endif %} </span>#}

                                <br/>
                                <small class="form-text text-muted">
                                    {{ winner.candidate.explanation|striptags('<b><i><strong><em>')|linkParser|raw|nl2br }}
                                </small>
                            </li>
                        {% endfor %}
                    </ol>

                </div>
            </div>


            <div class="row mt-5 ">
                <div class="col-12">

                    <h4 class="title">{% trans %}Profils de mérite{% endtrans %}</h4>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                {% for mention_value,mention_label  in mentions %}
                                    <th scope="col"
                                        style="background-color:#fff;;white-space: nowrap;"><img src="/css/img/{{ mention_value }}.png" style="width:32px;"> {{ mention_label|trans }}</th>
                                {% endfor %}

                            </tr>
                            </thead>
                            <tbody>

                            {% for choice in proposal.choices %}
                                <tr>
                                    <th scope="row"
                                    >{{ choice.label }}</th>

                                    {% for mention_value,mention_label  in mentions %}
                                        {% set valueMention=meritProfiles[choice.id][mention_value] %}
                                        <td style="white-space: nowrap;" class="text-right">
                                        {% if valueMention==0 %}
                                            -
                                        {% else %}
                                            {{ valueMention|round(2)|number_format(2, '.', ',') }}%
                                        {% endif %}


                                        </td>
                                    {% endfor %}


                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-5 ">
                <div class="col-12">
                    <h4 class="title">{% trans %}Histogramme{% endtrans %}</h4>
                    <div id="chart" style="height:{{ (proposal.choices|length)*80 }}px"></div>
                </div>
               {# <div class="col-12 m-2">
                    <div class="alert alert-secondary">
                        <h6>Légende :</h6>
                        <ol>
                            {% for choice in proposal.choices %}
                                <li>{{ choice.label }}</li>
                            {% endfor %}
                        </ol>
                    </div>

                </div>#}


            </div>

<div class="mb-5">&nbsp;</div>

        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {# {{ choice.label|e('js')|raw }} #}
        {#{{ ((proposal.choices|length)+1)-loop.index }} #}
        let chart = new Chartist.Bar('#chart', {
                labels: [
                    {% for choice in proposal.choices|reverse %}"{{ choice.label|e('js')|raw }}",{% endfor %}


                ],
                series: [
                    {% for mention_value,mention_label in mentions %}
                    [


                        {% for choice in proposal.choices|reverse %}

                        {% set valueMention=meritProfiles[choice.id][mention_value] %}
                        {{ valueMention-0.01 }},
                        {% endfor %}
                    ],
                    {% endfor %}
                ]
            }
            , {

                stackBars: true,

                horizontalBars: true,
                axisY: {
                    offset: 150
                },

                axisX: {
                    offset: 0,
                    onlyInteger: true,
                    position: 'start',
                    labelInterpolationFnc: function (value) {
                        if (value >= 100) {
                            return ""
                        } else {
                            return (value) + '%';
                        }

                    }
                },
                plugins: [
                    Chartist.plugins.ctGoalLine({
                        value: 50,
                        axis: 'x'
                    })
                ]

            }
        ).on('draw', function (data) {
            if (data.type === 'bar') {
                data.element.attr({
                    style: 'stroke-width:25px;'
                });
            }
        });


    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        {% set alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'] %}
        {% for mention_value,mention_label in mentions  %}
        .ct-series-{{ alphabet[loop.index-1]|lower }} .ct-bar {
            stroke: #{{ mention_colors[mention_value] }};
        }

        {% endfor %}

        .ct-goal-line {
            stroke: blue;
            stroke-width: 2px;
            stroke-dasharray: 4px;
            shape-rendering: crispEdges;
        }

        {#
        .ct-bar{
            stroke-width: {{  (100/((proposal.choices|length)+4))|round }}px !important;
        }


        @media screen and (min-width: 576px){
            .ct-bar{
                stroke-width: {{  (450/((proposal.choices|length)+4))|round }}px !important;
            }
        }

        @media screen and (min-width: 768px){
            .ct-bar{
                stroke-width: {{  (630/((proposal.choices|length)+4))|round }}px !important;
            }
        }

        @media screen and (min-width: 992px){
            .ct-bar{
                stroke-width: {{  (860/((proposal.choices|length)+4))|round }}px !important;
            }
        }

        @media screen and (min-width: 1200px){
            .ct-bar{
                stroke-width: {{  (1040/((proposal.choices|length)+4))|round }}px !important;
            }
        }#}


    </style>
{% endblock stylesheets %}