{% extends "body.html.twig" %}

{% block title %}{{ proposal.title }}{% endblock %}
{% block ogtitle %}{{ proposal.title }}{% endblock %}
{% block ogdescription %}{{ proposal.presentation }}{% endblock %}

{% block main %}
    <main class="container">

        {% if proposal is null %}
            <div class="row mt-5">
                <div class="col-12">
                    <h1>Ooops ! Proposition inexistante</h1>
                    <p>Cette proposition n'existe pas ou n'est plus disponible au vote.</p>
                    <p>N'hésitez pas à soumettre une nouvelle proposition <a href="{{ path("app_jm_form") }}">en
                            cliquant-ici</a></p>
                </div>
            </div>
        {% else %}
            <div class="row mt-5">
                <div class="col-12 mb-4">
                    <h1 class="title">{{ proposal.title }}</h1>
                </div>
                <div class="col-12">

                    <p>{{ proposal.presentation }}</p>
                    <h6><i class="text-muted">Proposé par : {{ proposal.author|default('Anonyme') }}</i></h6>
                </div>
            </div>
            <div class="row mt-5 ">
                <div class="col-12">
                    <h4 class="mt-2 title">Résultat</h4>
                    <div class="col-12 p-0">
                        <div class="card mb-4   shadow p-3 mb-5 bg-white rounded align-self-stretch">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div><h5 class="card-title title mt-0 "><img src="/css/img/{{ mentionLabelToValue[result[0].majorityMention.label] }}.png" style="width:32px;" class="mr-2"> {{ result[0].candidate.label }}</h5>
                                    <hr />
                                    <p class="card-text"> {{ result[0].candidate.explanation }}</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="text-muted" style="margin-top:-30px;"><i>Déterminé
                            par {{ proposal.participations|length }} participations et la mention majoritaire
                            : {{ winnerMention }}</i></div>



                </div>

            </div>

            <div class="row mt-5 ">
                <div class="col-12">
                    <h4 class="title">Classement complet</h4>
                    <ol>
                        {% for winner in result %}
                            <li class="mb-4">
                                <img src="/css/img/{{ mentionLabelToValue[winner.majorityMention.label] }}.png" style="width:32px;" class="mr-2">
                                <b>{{ winner.candidate.label }}</b>
                                {#<span class="badge badge-secondary"
                                                                                style="background-color:#{{ mentionLabelColors[winner.majorityMention.label] }};color:#000;">{{ winner.majorityMention.label }}{% if  winner.percentOfBetterThanMajorityMention >= winner.percentOfWorseThanMajorityMention  %}+{% else %}-{% endif %} </span>#}

                                <br/>
                                <small class="form-text text-muted">
                                    {{ winner.candidate.explanation }}
                                </small>
                            </li>
                        {% endfor %}
                    </ol>

                </div>
            </div>


            <div class="row mt-5 ">
                <div class="col-12">

                    <h4 class="title">Profils de mérite</h4>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                {% for mention_value,mention_label  in mentions %}
                                    <th scope="col"
                                        style="background-color:#fff;;white-space: nowrap;"><img src="/css/img/{{ mention_value }}.png" style="width:32px;"> {{ mention_label }}</th>
                                {% endfor %}

                            </tr>
                            </thead>
                            <tbody>

                            {% for choice in proposal.choices %}
                                <tr>
                                    <th scope="row"
                                    >{{ choice.label }}</th>

                                    {% for mention_value,mention_label  in mentions %}
                                        {% set valueMention=meritProfiles[choice.id][mention_value] %}
                                        <td style="white-space: nowrap;" class="text-right">
                                        {% if valueMention==0 %}
                                            -
                                        {% else %}
                                            {{ valueMention|round(2)|number_format(2, '.', ',') }}%
                                        {% endif %}


                                        </td>
                                    {% endfor %}


                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-5 ">
                <div class="col-12">
                    <h4 class="title">Histogramme</h4>
                    <div id="chart" style="height:{{ (proposal.choices|length)*80 }}px"></div>
                </div>
               {# <div class="col-12 m-2">
                    <div class="alert alert-secondary">
                        <h6>Légende :</h6>
                        <ol>
                            {% for choice in proposal.choices %}
                                <li>{{ choice.label }}</li>
                            {% endfor %}
                        </ol>
                    </div>

                </div>#}


            </div>

<div class="mb-5">&nbsp;</div>

        {% endif %}
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {# {{ choice.label|e('js')|raw }} #}
        {#{{ ((proposal.choices|length)+1)-loop.index }} #}
        let chart = new Chartist.Bar('#chart', {
                labels: [
                    {% for choice in proposal.choices|reverse %}"{{ choice.label|e('js')|raw }}",{% endfor %}


                ],
                series: [
                    {% for mention_value,mention_label in mentions %}
                    [


                        {% for choice in proposal.choices|reverse %}

                        {% set valueMention=meritProfiles[choice.id][mention_value] %}
                        {{ valueMention-0.01 }},
                        {% endfor %}
                    ],
                    {% endfor %}
                ]
            }
            , {

                stackBars: true,

                horizontalBars: true,
                axisY: {
                    offset: 150
                },

                axisX: {
                    offset: 0,
                    onlyInteger: true,
                    position: 'start',
                    labelInterpolationFnc: function (value) {
                        if (value >= 100) {
                            return ""
                        } else {
                            return (value) + '%';
                        }

                    }
                },
                plugins: [
                    Chartist.plugins.ctGoalLine({
                        value: 50,
                        axis: 'x'
                    })
                ]

            }
        ).on('draw', function (data) {
            if (data.type === 'bar') {
                data.element.attr({
                    style: 'stroke-width:25px;'
                });
            }
        });


    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        {% set alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'] %}
        {% for mention_value,mention_label in mentions  %}
        .ct-series-{{ alphabet[loop.index-1]|lower }} .ct-bar {
            stroke: #{{ mention_colors[mention_value] }};
        }

        {% endfor %}

        .ct-goal-line {
            stroke: blue;
            stroke-width: 2px;
            stroke-dasharray: 4px;
            shape-rendering: crispEdges;
        }

        {#
        .ct-bar{
            stroke-width: {{  (100/((proposal.choices|length)+4))|round }}px !important;
        }


        @media screen and (min-width: 576px){
            .ct-bar{
                stroke-width: {{  (450/((proposal.choices|length)+4))|round }}px !important;
            }
        }

        @media screen and (min-width: 768px){
            .ct-bar{
                stroke-width: {{  (630/((proposal.choices|length)+4))|round }}px !important;
            }
        }

        @media screen and (min-width: 992px){
            .ct-bar{
                stroke-width: {{  (860/((proposal.choices|length)+4))|round }}px !important;
            }
        }

        @media screen and (min-width: 1200px){
            .ct-bar{
                stroke-width: {{  (1040/((proposal.choices|length)+4))|round }}px !important;
            }
        }#}


    </style>
{% endblock stylesheets %}