{% extends "body.html.twig" %}



{% block main %}
    <div class="container">
        {% if redirect %}
            <script> document.location.href = '{{ path("app_jm_vote",{'url_key': url_key}) }}?redirect-save=true' </script>
        {% endif %}
        {% if error == true %}
            <div class="row">
                <div class="col-12">
                    <h1 class="title">Ooops ! Scrutin inexistant</h1>
                    <p>Ce scrutin n'existe pas ou n'est plus disponible aux votes.</p>
                    <p>N'hésitez pas à créer un nouveau scrutin <a href="{{ path("app_jm_form") }}">en
                            cliquant-ici</a></p>
                </div>
            </div>
        {% else %}

            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="title">Participation enregistrée !</h1>
                    <div class="pt-3 pb-3">
                        {% include "vote/end-of-proposal.html.twig" %}
                    </div>

                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-6 m-auto text-center">
                    {% if redirect %}
                        <input type="text" class="form-control" disabled value="Veuillez patienter ...">
                    {% else %}
                        <div class="input-group  ">
                            <input type="text" class="form-control autoselect" id="url"
                                   value="{{ url("app_jm_vote",{'url_key':  proposal.urlKey  }) }}">

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary copy-to-clipboard" data-target="#url"
                                        type="button"><i
                                            class="fas fa-copy mr-2"></i> Copier
                                </button>
                            </div>

                        </div>
                        <small class="text-primary">Pensez a enregistrer ce lien dans les favoris de votre navigateur
                            !
                        </small>
                        {%  if  proposal.isFacebookEnabled %}
                            <div class="text-center mt-4 ">
                                <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ url("app_jm_vote",{'url_key':  url_key })|url_encode}}&layout=button&size=large&mobile_iframe=true&appId={{ facebook_api_id }}&width=89&height=28" width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        {% endif %}
                    {% endif %}


                </div>
            </div>



        {% endif %}
    </div>
{% endblock %}