{% extends "body.html.twig" %}



{% block main %}
    <div class="container">
        {% if redirect %}
            <script> document.location.href = '{{ path("app_jm_form") }}?redirect-save=true&key={{ proposal.urlKey }}' </script>
        {% endif %}
        <div class="row ">
            <div class="col-12 text-center">
                <h1 class="title mb-5">Proposition enregistrée !</h1>
                <p>Vous pouvez maintenant partager le lien du vote aux participants :</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-6 m-auto text-center">
                {% if redirect %}
                <input type="text" class="form-control" disabled value="Veuillez patienter ...">
                {% else %}

                <div class="input-group  ">
                    <input type="text" class="form-control autoselect" id="url"
                           value="{{ url("app_jm_vote",{'url_key':  app.request.query.get('key')  }) }}">

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary copy-to-clipboard" data-target="#url" type="button"><i
                                    class="fas fa-copy mr-2"></i> Copier</button>
                    </div>

                </div>
                <small class="text-primary">Pensez a enregistrer ce lien dans les favoris de votre navigateur !</small>

                {%  if  proposal.isFacebookEnabled %}
                <div class="text-center mt-4 alert alert-primary ">
                    <p>Vous avez opté pour l'option partage <b>FACEBOOK</b>. Voici donc le bouton pour partager ce vote :</p>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ url("app_jm_vote",{'url_key':  app.request.query.get('key') })|url_encode}}&layout=button&size=large&mobile_iframe=true&appId={{ facebook_api_id }}&width=89&height=28" width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
                {% endif %}


            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">

                <a href="{{ url("app_jm_vote",{'url_key':  app.request.query.get('key')  }) }}" class="btn btn-success"><i
                            class="fas fa-users mr-2"></i>Participer maintenant</a>

                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}