<!DOCTYPE html>
<html >
<head>
    <script type="text/javascript">
        const CONFIG={};
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="format-detection" content="telephone=no" >
    <meta name="HandheldFriendly" content="true" >
    <meta name="viewport" content="width = device-width,initial-scale = 1,minimum-scale = 1,maximum-scale = 1,  user-scalable=no" >
    <meta property="og:url"           content="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{% block ogtitle %}Jugement Majoritaire{% endblock %}" />
    <meta property="og:description"   content="{% block ogdescription %}Plateforme de vote utilisant le jugement majoritaire.{% endblock %}" />
    <meta property="og:image"         content="{{ app.request.getSchemeAndHttpHost() }}/css/img/jugement-majoritaire.png" />
    <title>{% block title %}Jugement Majoritaire{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ app.request.getSchemeAndHttpHost() }}/css/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="{{ publicFile('/css/vendor.css') }}">
    <link rel="stylesheet" href="{{ publicFile('/css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script type="application/javascript" src="{{ publicFile('/js/vendor.min.js') }}"></script>
<script type="application/javascript" src="{{ publicFile('/js/app.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>