{% extends "base.html.twig" %}


{% block body %}
    <header>
        {% block header %}{% endblock %}
        <nav class="navbar navbar-expand-xl navbar-light fixed-top bg-light shadow">
            <a class="navbar-brand" href="{{ path("app_jm_home") }}">
                {% if app.request.getLocale()=="fr" %}
               <img src="{{ app.request.getSchemeAndHttpHost() }}/css/img/logo.png" style="width:200px;" />
                {% else %}
                <img src="{{ app.request.getSchemeAndHttpHost() }}/css/img/logo-en.png" style="width:200px;" />
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="{{ path("app_jm_home") }}">{% trans %}Accueil{% endtrans %}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path("app_jm_form") }}">{% trans %}Lancer un vote{% endtrans %}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path("app_jm_result") }}">{% trans %}Dépouiller un scrutin{% endtrans %}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path("app_jm_privacypolicy") }}">{% trans %}Politique de confidentialité{% endtrans %}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-primary underline" href="https://app.mieuxvoter.fr"><i class="fas fa-bell mr-2"></i> Nouvelle version</a>
                    </li>

                </ul>
                <ul class="navbar-nav pull-right">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-github mr-2"></i> {% trans %}Codes source{% endtrans %}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="https://github.com/oceanBigOne/jm" target="_blank">{% trans %}Plateforme de vote{% endtrans %}</a>
                        <a class="dropdown-item" href="https://github.com/oceanBigOne/MajorityJudgment" target="_blank">{% trans %}Class PHP{% endtrans %}</a>
                    </div>
                </li>
                    <li class="nav-item dropdown ">
                        {% if app.request.getLocale()=="en" %}
                            <a class="nav-link" href="{{ path(app.request.attributes.get('_route'),
                                app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">{% trans %}Version française{% endtrans %}</a>
                        {% else %}
                            <a class="nav-link" href="{{ path(app.request.attributes.get('_route'),
                                app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">{% trans %}English version{% endtrans %}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="pt-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 pr-4 pl-4 mt-5">
                    {% if app.request.getLocale()=="fr" %}
                    <img src="{{ app.request.getSchemeAndHttpHost() }}/css/img/logo-beta.png" style="width:100%;max-width:300px;display:block;margin:auto;"/>
                    {% else %}
                        <img src="{{ app.request.getSchemeAndHttpHost() }}/css/img/logo-beta-en.png" style="width:100%;max-width:300px;display:block;margin:auto;"/>
                    {% endif %}
                </div>
                <div class="col-12  text-center ">
                    <h3>La nouvelle version est enfin disponible !</h3>
                    <p style="margin:auto;width:100%; max-width:480px">Toujours aussi simple, gratuite et anonyme, cette nouvelle version maintenue par une équipe active en Open-Source vous offrira encore plus de possibilités.<br><br>Découvrez-là dès à présent !</p>
                    <p><a href="https://app.mieuxvoter.fr" class="btn btn-primary mt-2 mb-5"><i class="fas fa-external-link-square-alt mr-2"></i>Nouvelle version</a>
                    </p>
                </div>
            </div>
        </div>
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}